<div class = "center hero-unit">
<br> <br>
  <% if flash[:notice] %>
    <div class = "notice"><%= flash[:notice] %></div>
  <% end %>

  <h1>Это ваш профиль:</h1>
  <h2><%= @guest.email %></h2><br />

</div>
