<br />
<div class = "center hero-unit">
  <h1>Shop name: <%= @product.shop_name %> </h1>
  <h1><%= @product.name %></h1>
  <% if @product.pro %>
    <h2> PRO </h2>
  <% end %>
  
  <h3><%= @product.description %></h3>

  <%= image_tag @product.product_photo_url(:medium) %>
</div>
