<div class = "center hero-unit">
  <h1>Это ваш профиль:</h1>
  <h2><%= @user.email %></h2><br />
  <% if signed_in? && current_user.admin? %>
    <%= form_for(@user) do |f| %>
      <%= f.select :type, ['Guest', 'Admin', 'ShopOwner'], class: 'form-control' %><br /><br />
      <%= f.submit 'Change', class: 'btn btn-large btn-primary' %>
    <% end %>
  <% end %>
</div>
