@import "bootstrap";



#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

html {
  overflow-y : scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.products {
  list-style: none;
  li {
    padding: 30px 0;
    border-bottom: 1px solid #e8e8e8;
  }
  span {
    margin-left: 10px;
  }
}
.fileUpload {
  position: relative;
  margin: 10px;
  }
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity = 0);
}
