<br>
<div class = "center hero-unit">

  <h3><%= @product.description %></h3>

  <%= image_tag @product.product_photo_url(:medium) %>
  <br />
  <h4>If you want to buy this product please sign up!</h4>
</div>
